{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post" class="needs-validation" novalidate>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" id="username" name="username" placeholder="Username" type="text" required>
            <div class="invalid-feedback invalid-username">
                Please add a username.
            </div>
        </div>

        <div class="form-group">
            <input class="form-control" name="password" id="password" placeholder="Password" type="password" required>
            <div class="invalid-feedback">
                Please add a password.
            </div>
        </div>

        <div class="form-group">
            <input class="form-control" name="confirmation" id="repeat_password" placeholder="Password" type="password" required>
            <div class="invalid-feedback confirmed_passwd">
                Please Confirm your password.
            </div>

        </div>

        <button class="btn btn-primary" type="submit">Register</button>
    </form>

    <script>
        let repeat_passwd = document.getElementById('repeat_password');
        let passwd = document.getElementById('password');
        let form = document.querySelector('.needs-validation');
        form.oninput = function() {
            repeat_passwd.setCustomValidity(repeat_passwd.value != passwd.value ? form.querySelector('.confirmed_passwd').innerHTML='Passwords do not match' : "");
            $.get('/check?username=' + username.value, function (data){
                var username = document.querySelector('#username');
                username.setCustomValidity(!data.message ? document.querySelector('.invalid-username').innerHTML= "Username taken" : "");
            });
        };

        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function() {
          'use strict';
          window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
              form.addEventListener('submit', function(event) {
                if (form.checkValidity() === false) {
                  event.preventDefault();
                  event.stopPropagation();
                }
                form.classList.add('was-validated');
              }, false);
            });
          }, false);
        })();


    </script>

{% endblock %}
